<md-card>
  <form id="problemsForm" [formGroup]="problemsAddFormGroup" novalidate>
    <app-order-card-header></app-order-card-header>
    <md-card-content>
      <h2>{{"WARRANTY" | translate }}</h2>
      <md-radio-group formControlName="warranty">
        <md-radio-button name="warranty" value="true">{{ "YES" | translate }}</md-radio-button>
        <md-radio-button name="warranty" value="false">{{ "NO" | translate}}</md-radio-button>
      </md-radio-group>
      <h2>{{ "SECURITY_CODE" | translate }}</h2>
      <md-input-container>
        <md-placeholder>
          <md-icon>search</md-icon>
          {{ "PHONE.SECURITY_CODE" | translate }}
        </md-placeholder>
        <input mdInput formControlName="securityCode" />
      </md-input-container>
      <hr/>
      <pre>{{ problemsAddFormGroup.value | json }}</pre>
    </md-card-content>
    <md-card-actions>
      <button type="button" md-raised-button color="accent"
      routerLink="/problems" routerLinkActive="active">
        {{ "BACK" | translate}}
      </button>
      <button type="button" md-raised-button color="accent"
        routerLink="/problemsadditional" routerLinkActive="active"
        [disabled]="!problemsAddFormGroup.valid">
        {{ "FORWARD" | translate }}
      </button>
    </md-card-actions>
  </form>
</md-card>
