<mat-card>
  <form id="problemsForm" [formGroup]="problemsAddFormGroup" novalidate>
    <app-order-card-header></app-order-card-header>
    <mat-card-content>
      <h2>{{"WARRANTY" | translate }}</h2>
      <mat-radio-group formControlName="warranty">
        <mat-radio-button name="warranty" value="true">{{ "YES" | translate }}</mat-radio-button>
        <mat-radio-button name="warranty" value="false">{{ "NO" | translate}}</mat-radio-button>
      </mat-radio-group>
      <h2>{{ "SECURITY_CODE" | translate }}</h2>
      <mat-input-container>
        <mat-placeholder>
          <mat-icon>search</mat-icon>
          {{ "PHONE.SECURITY_CODE" | translate }}
        </mat-placeholder>
        <input matInput formControlName="securityCode" />
      </mat-input-container>
      <hr/>
      <pre>{{ problemsAddFormGroup.value | json }}</pre>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button color="accent"
      routerLink="/problems" routerLinkActive="active">
        {{ "BACK" | translate}}
      </button>
      <button type="button" mat-raised-button color="accent"
        routerLink="/problemsadditional" routerLinkActive="active"
        [disabled]="!problemsAddFormGroup.valid">
        {{ "FORWARD" | translate }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
