<mat-card>
  <form id="problemsForm" [formGroup]="problemsFormGroup" novalidate>
    <app-order-card-header></app-order-card-header>
    <mat-card-content>
      <input type="hidden" name="phone" [value]="dataService.repairRequest.phoneOption?.description" />
      <mat-list formArrayName="repairOptions">
        <mat-list-item *ngFor="let repairOptionControl of repairOptionControls.controls; let i = index" [formGroupName]="i">
          <mat-checkbox formControlName="selected" (click)="toggleRepairOption(repairOptions[i])">
            {{ 'PHONE.PROBLEMS.' + repairOptions[i].problemId | translate }} ({{ repairOptions[i].price }}&thinsp;₺)
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button color="accent" (click)="back()" routerLink="/phone" routerLinkActive="active">
        {{ "BACK" | translate}}
      </button>
      <button type="button" mat-raised-button color="accent"
        routerLink="/problemsadditional"
        routerLinkActive="active"
        [disabled]="!dataService.repairRequest.selectedRepairOptions.length">
        {{ "FORWARD" | translate }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
