<md-card>
  <form id="problemsForm" novalidate>
    <app-order-card-header></app-order-card-header>
    <md-card-content>
      <input type="hidden" name="phone" [value]="dataService.phoneOption?.description" />
      <md-list>
        <md-list-item *ngFor="let repairOption of dataService.phoneOption?.repairOptions">
          <md-checkbox
          [name]="repairOption.problemId"
          [value]="repairOption.price"
          (click)="toggleRepairOption(repairOption)">
            {{ 'PHONE.PROBLEMS.' + repairOption.problemId | translate }} ({{ repairOption.price }}&thinsp;₺)
          </md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions>
      <button type="button" md-raised-button color="accent" (click)="back()"
      routerLink="/phone" routerLinkActive="active">
        {{ "BACK" | translate}}
      </button>
      <button type="button" md-raised-button color="accent"
      routerLink="/problemsadditional" routerLinkActive="active">
        {{ "FORWARD" | translate }}
      </button>
    </md-card-actions>
  </form>
</md-card>
