<div *ngIf="!dataService.phoneOption">
  <form name="phoneOptionForm" novalidate fxFlex="100" fxLayoutAlign="center">
    <div fxLayout="row" fxFlex="80" fxLayoutAlign="space-between center">
      <div fxFlex="90">
        <md-input-container fxFlex="100">
          <md-placeholder>
            <md-icon>search</md-icon>
            Telefonunun marka ve modeli nedir?
          </md-placeholder>
          <input type="text" mdInput [formControl]="phoneOptionControl" [mdAutocomplete]="auto">
        </md-input-container>
        <md-autocomplete placeholder="Phone" #auto="mdAutocomplete">
          <md-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </md-option>
        </md-autocomplete>
      </div>
      <div fxFlex="20px"></div>
      <div>
        <button type="button" md-raised-button color="accent" (click)="selectPhoneOption()">Tamir Et</button>
      </div>
    </div>
  </form>
</div>
