<mat-card-header>
  <mat-card-title>
    <h2>{{ dataService.repairRequest.phoneOption?.description }}</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <div fxLayout='row' fxLayoutWrap fxFlex="100" fxLayoutAlign="space-between">
      <div fxLayout='column' fxFlex="45">
        <h3>{{ "PHONE.PROBLEMS_DESC" | translate }}:</h3>
        <div fxFlex="90">
          <span *ngFor="let repairOption of dataService.repairRequest.selectedRepairOptions">
            {{ 'PHONE.PROBLEMS.' + repairOption.problemId | translate }}
          </span>
        </div>
      </div>
      <div fxLayout="column" fxFlex="50">
        <h3>{{ "PHONE.PRICE_ESTIMATED" | translate }}:</h3>
        <div *ngIf="dataService.repairRequest.price">{{ dataService.repairRequest.price }}&thinsp;₺</div>
      </div>
    </div>
    <div *ngIf="dataService.repairRequest.customer" fxLayout='row' fxLayoutWrap fxFlex="100" fxLayoutAlign="space-between">
        <div fxLayout='column' fxFlex="45">
          <h3>{{ "CONTACT.ADDRESS" | translate }}:</h3>
          <div fxFlex="90">{{ dataService.repairRequest.customer?.name }}</div>
          <div fxFlex="90">{{ dataService.repairRequest.customer?.address }}</div>
        </div>
        <div fxLayout="column" fxFlex="50">
          <h3>{{ "CONTACT.SELF" | translate }}:</h3>
          <div fxFlex="90">{{ dataService.repairRequest.customer?.tel_number }}</div>
          <div fxFlex="90">{{ dataService.repairRequest.customer?.email }}</div>
        </div>
      </div>
  </mat-card-subtitle>
</mat-card-header>
